<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="card" style="width: 50rem; margin: 2rem auto 0 auto;">
    <div class="card-header">
        <h1>My Recipe!</h1>
    </div>
    <div class="card-body" style="padding: 0">
        <div th:if="${not #lists.isEmpty(recipes)}">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td scope="row" th:text="${recipe.id}">123</td>
                        <td th:text="${recipe.description}">Tasty Goodnees</td>
                        <td><a th:href="@{'/recipe/show/'+${recipe.id}}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>