<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <style>
        .non_margin_bottom{
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipe/new">Create</a></li>
    </ul>
</nav>
    <div class="card" style="width: 50rem; margin: 2rem auto 0 auto;">
        <div class="card-header">
            <h1>My Recipe</h1>
        </div>
        <div class="card-body" style="padding: 0">
            <div th:if="${not #lists.isEmpty(recipes)}">
                <table class="table non_margin_bottom">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">View</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipe : ${recipes}">
                            <td th:text="${recipe.id}">123</td>
                            <td th:text="${recipe.description}">Tasty Goodnees</td>
                            <td><a th:href="@{'/recipe/'+${recipe.id}}+'/show'">View</a></td>
                            <td><a th:href="@{'/recipe/'+${recipe.id}}+'/update'">Update</a></td>
                            <td><a th:href="@{'/recipe/'+${recipe.id}}+'/delete'">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
